<launch>

  <!-- start nodelet manager and load driver nodelet -->
  <node pkg="nodelet" type="nodelet"
    name="lslidar_ch_nodelet_manager"
    args="manager" output="screen"/>

  <node pkg="nodelet" type="nodelet"
    name="lslidar_ch_driver_nodelet"
    args="load lslidar_ch_driver/LslidarChDriverNodelet
    lslidar_ch_nodelet_manager" >
    <param name="frame_id" value="lslidar"/>
    <param name="lidar_ip" value="192.168.1.200"/>
  </node>

</launch>
