<launch>
     <arg name="device_ip1" default="192.168.1.200" />
     <arg name="msop_port1" default="2368" />
     <arg name="difop_port1" default="2369" />
     <arg name="device_ip2" default="192.168.1.201" />
     <arg name="msop_port2" default="2370" />
     <arg name="difop_port2" default="2371" />
       <arg name="pcl_type" default="false"/>
       <arg name="use_time_service" default="false" />

     <node pkg="lslidar_ch1w_driver" type="lslidar_ch1w_driver_node" name="lslidar_ch1w_driver_node" output="screen" ns="LeftLidar" launch-prefix="gnome-terminal -e">
	 <!-- param name="pcap" value="$(find lslidar_ch1w_driver)/pcap/xxx.pcap"/-->
       <param name="lidar_ip" value="$(arg device_ip1)"/>
       <param name="msop_port" value="$(arg msop_port1)" />
       <param name="difop_port" value="$(arg difop_port1)"/>
       <param name="add_multicast" value="false"/>
       <param name="group_ip" value="224.1.1.2"/>
        <param name="use_time_service" value="$(arg use_time_service)"/>
     </node>

     <node pkg="lslidar_ch1w_decoder" type="lslidar_ch1w_decoder_node" name="lslidar_ch1w_decoder_node" output="screen" ns="LeftLidar">
       <param name="frame_id" value="laser_link_left"/>
       <param name="pcl_type" value="$(arg pcl_type)"/>
       <param name="min_range" value="0.15"/>
       <param name="max_range" value="150.0"/>
       <param name="angle_disable_min" value="0"/>
       <param name="angle_disable_max" value="0"/>
       <Param name="pointcloud2_topic" value="lslidar_point_cloud"/>
       <param name="frequency" value="10"/>
       <param name="pulse_repetition_rate" value="60.0"/>
       <param name="publish_point_cloud" value="true"/>
       <param name="publish_laserscan" value="false"/>
     </node>

     <node pkg="lslidar_ch1w_driver" type="lslidar_ch1w_driver_node" name="lslidar_ch1w_driver_node" output="screen" ns="RightLidar" launch-prefix="gnome-terminal -e">
	 <!-- param name="pcap" value="$(find lslidar_ch1w_driver)/pcap/xxx.pcap"/-->
       <param name="lidar_ip" value="$(arg device_ip2)"/>
       <param name="msop_port" value="$(arg msop_port2)" />
       <param name="difop_port" value="$(arg difop_port2)"/>
       <param name="device_port" value="2370"/>
       <param name="add_multicast" value="false"/>
       <param name="group_ip" value="224.1.1.2"/>
       <param name="use_time_service" value="$(arg use_time_service)"/>
     </node>

     <node pkg="lslidar_ch1w_decoder" type="lslidar_ch1w_decoder_node" name="lslidar_ch1w_decoder_node" output="screen" ns="RightLidar">
       <param name="frame_id" value="laser_link_right"/>
       <param name="pcl_type" value="$(arg pcl_type)"/>
       <param name="min_range" value="0.15"/>
       <param name="max_range" value="150.0"/>
       <param name="angle_disable_min" value="0"/>
       <param name="angle_disable_max" value="0"/>
       <Param name="pointcloud2_topic" value="lslidar_point_cloud"/>
       <param name="frequency" value="10"/>
       <param name="pulse_repetition_rate" value="60.0"/>
       <param name="publish_point_cloud" value="true"/>
       <param name="publish_laserscan" value="false"/>
     </node>



  <node pkg="tf" type="static_transform_publisher" name="base_link2laser" args="0 0 0 0 0 0 world laser_link_right 100" />
  <node pkg="tf" type="static_transform_publisher" name="base_link2laser2" args="0 0 2 0 0 0 world laser_link_left 100" />
</launch>

