<launch>
    <arg name="devI1" value="192.168.2.222"/>
    <arg name="num" value="'1'"/>

<include file="$(find lslidar_c16_decoder)/launch/lslidar_c16_multi.launch.xml" ns="laser$(arg num)">
    <arg name="devIP" value="$(eval (devI + num))"/>
</include>>
  

  <!--node name="rviz" pkg="rviz" type="rviz" args="-d $(find lslidar_c16_decoder)/launch/lslidar_c16.rviz" output="screen"/-->

</launch>
