<launch>

  <node pkg="lslidar_driver" type="lslidar_driver_node" name="lslidar_driver_node" output="screen" ns="frist">
    <param name="frame_id" value="laser_link"/>                     #激光坐标
    <param name="device_ip" value="192.168.1.200"/>                 #雷达源IP
    <param name="device_port" value="2368"/>                        #雷达目的端口号
    <param name="device_ip_difop" value="192.168.1.102"/>           #雷达目的ip
    <param name="difop_port" value="2369"/>                         #雷达源端口号
    <param name="lidar_name" value="M10"/>                          #雷达选择:M10 M10_P M10_PLUS M10_GPS N10 N10_PLUS L10
    <param name="interface_selection" value="net"/>                 #接口选择:net 为网口,serial 为串口。
    <param name="add_multicast" value="false"/>                     #是否启动组播。
    <param name="group_ip" value="224.1.1.2"/>                      #组播ip。
    <param name="scan_topic" value="scan"/>                         #设置激光数据topic名称
    <param name="angle_disable_min" value="0.0"/>                   #角度裁剪开始值
    <param name="angle_disable_max" value="0.0"/>                   #角度裁剪结束值
    <param name="min_range" value="0"/>                             #雷达接收距离最小值
    <param name="max_range" value="100.0"/>                         #雷达接收距离最大值
    <param name="use_gps_ts" value="false"/>                        #雷达是否使用GPS授时
    <param name="compensation" value="false"/>                      #雷达是否使用角度补偿功能
    <param name="pubScan" value="true"/>                            #雷达是否发布scan话题
    <param name="pubPointCloud2" value="false"/>                    #雷达是否发布pointcloud2话题
    <param name="high_reflection" value="false"/>                   #M10_P雷达需填写该值,若不确定，请联系技术支持。

    <!--param name="pcap" value="$(find lslidar_driver)/pcap/xxx.pcap"/-->
  </node>

  <node pkg="lslidar_driver" type="lslidar_driver_node" name="lslidar_driver_node" output="screen" ns="second">
    <param name="frame_id" value="laser_link"/>                     #激光坐标
    <param name="device_ip" value="192.168.1.200"/>                 #雷达源IP
    <param name="device_port" value="2368"/>                        #雷达目的端口号
    <param name="device_ip_difop" value="192.168.1.102"/>           #雷达目的ip
    <param name="difop_port" value="2369"/>                         #雷达源端口号
    <param name="lidar_name" value="M10"/>                          #雷达选择:M10 M10_P M10_PLUS M10_GPS N10 N10_PLUS L10
    <param name="interface_selection" value="net"/>                 #接口选择:net 为网口,serial 为串口。
    <param name="add_multicast" value="false"/>                     #是否启动组播。
    <param name="group_ip" value="224.1.1.2"/>                      #组播ip。
    <param name="scan_topic" value="scan"/>                         #设置激光数据topic名称
    <param name="angle_disable_min" value="0.0"/>                   #角度裁剪开始值
    <param name="angle_disable_max" value="0.0"/>                   #角度裁剪结束值
    <param name="min_range" value="0"/>                             #雷达接收距离最小值
    <param name="max_range" value="100.0"/>                         #雷达接收距离最大值
    <param name="use_gps_ts" value="false"/>                        #雷达是否使用GPS授时
    <param name="compensation" value="false"/>                      #雷达是否使用角度补偿功能
    <param name="pubScan" value="true"/>                            #雷达是否发布scan话题
    <param name="pubPointCloud2" value="false"/>                    #雷达是否发布pointcloud2话题
    <param name="high_reflection" value="false"/>                   #M10_P雷达需填写该值,若不确定，请联系技术支持。

    <!--param name="pcap" value="$(find lslidar_driver)/pcap/xxx.pcap"/-->
  </node>

  <node pkg="lslidar_driver" type="lslidar_driver_node" name="lslidar_driver_node" output="screen" ns="thirdly">
    <param name="frame_id" value="laser_link"/>                     #激光坐标
    <param name="device_ip" value="192.168.1.200"/>                 #雷达源IP
    <param name="device_port" value="2368"/>                        #雷达目的端口号
    <param name="device_ip_difop" value="192.168.1.102"/>           #雷达目的ip
    <param name="difop_port" value="2369"/>                         #雷达源端口号
    <param name="lidar_name" value="M10"/>                          #雷达选择:M10 M10_P M10_PLUS M10_GPS N10 N10_PLUS L10
    <param name="interface_selection" value="net"/>                 #接口选择:net 为网口,serial 为串口。
    <param name="add_multicast" value="false"/>                     #是否启动组播。
    <param name="group_ip" value="224.1.1.2"/>                      #组播ip。
    <param name="scan_topic" value="scan"/>                         #设置激光数据topic名称
    <param name="angle_disable_min" value="0.0"/>                   #角度裁剪开始值
    <param name="angle_disable_max" value="0.0"/>                   #角度裁剪结束值
    <param name="min_range" value="0"/>                             #雷达接收距离最小值
    <param name="max_range" value="100.0"/>                         #雷达接收距离最大值
    <param name="use_gps_ts" value="false"/>                        #雷达是否使用GPS授时
    <param name="compensation" value="false"/>                      #雷达是否使用角度补偿功能
    <param name="pubScan" value="true"/>                            #雷达是否发布scan话题
    <param name="pubPointCloud2" value="false"/>                    #雷达是否发布pointcloud2话题
    <param name="high_reflection" value="false"/>                   #M10_P雷达需填写该值,若不确定，请联系技术支持。

    <!--param name="pcap" value="$(find lslidar_driver)/pcap/xxx.pcap"/-->
  </node>

  <node pkg="lslidar_driver" type="lslidar_driver_node" name="lslidar_driver_node" output="screen" ns="fourthly">
    <param name="frame_id" value="laser_link"/>                     #激光坐标
    <param name="device_ip" value="192.168.1.200"/>                 #雷达源IP
    <param name="device_port" value="2368"/>                        #雷达目的端口号
    <param name="device_ip_difop" value="192.168.1.102"/>           #雷达目的ip
    <param name="difop_port" value="2369"/>                         #雷达源端口号
    <param name="lidar_name" value="M10"/>                          #雷达选择:M10 M10_P M10_PLUS M10_GPS N10 N10_PLUS L10
    <param name="interface_selection" value="net"/>                 #接口选择:net 为网口,serial 为串口。
    <param name="add_multicast" value="false"/>                     #是否启动组播。
    <param name="group_ip" value="224.1.1.2"/>                      #组播ip。
    <param name="scan_topic" value="scan"/>                         #设置激光数据topic名称
    <param name="angle_disable_min" value="0.0"/>                   #角度裁剪开始值
    <param name="angle_disable_max" value="0.0"/>                   #角度裁剪结束值
    <param name="min_range" value="0"/>                             #雷达接收距离最小值
    <param name="max_range" value="100.0"/>                         #雷达接收距离最大值
    <param name="use_gps_ts" value="false"/>                        #雷达是否使用GPS授时
    <param name="compensation" value="false"/>                      #雷达是否使用角度补偿功能
    <param name="pubScan" value="true"/>                            #雷达是否发布scan话题
    <param name="pubPointCloud2" value="false"/>                    #雷达是否发布pointcloud2话题
    <param name="high_reflection" value="false"/>                   #M10_P雷达需填写该值,若不确定，请联系技术支持。

    <!--param name="pcap" value="$(find lslidar_driver)/pcap/xxx.pcap"/-->
  </node>
</launch>
