<launch>
  <arg name="device_ip1" default="192.168.1.200" />
  <arg name="msop_port1" default="2368"/>
  <arg name="difop_port1" default="2369"/>
  <arg name="device_ip2" default="192.168.1.201" />
  <arg name="msop_port2" default="2370"/>
  <arg name="difop_port2" default="2371"/>
  <arg name="lidar_type1" default="c16"/>   <!--lidar_type1 lidar_type2填写启动两台雷达的名称(可选c1/c8/c16/c32) -->
  <arg name="lidar_type2" default="c32"/>
  <arg name="c32_type" default="c32_32"/>   <!--c32_32: 垂直角度是的30度c32   c32_70: 垂直角度是的70度c32  c32_90: 垂直角度是的90度c32/-->
  <arg name="pcl_type" default="false" />
  <arg name="use_gps_ts" default="false" />
  <arg name="packet_rate1" default="1695.0"/>
  <arg name="packet_rate2" default="1695.0"/>

  <node pkg="lslidar_driver" type="lslidar_driver_node" name="lslidar_driver_node" output="screen" ns="c16">
    <!--param name="pcap" value="$(find lslidar_driver)/pcap/xxx.pcap" /-->
    <param name="packet_rate" value="$(arg packet_rate1)"/>
    <param name="device_ip" value="$(arg device_ip1)" />
    <param name="msop_port" value="$(arg msop_port1)" />
    <param name="difop_port" value="$(arg difop_port1)"/>
    <param name="pcl_type" value="$(arg pcl_type)"/>
    <param name="lidar_type" value="$(arg lidar_type1)"/>
    <param name="add_multicast" value="false"/>
    <param name="group_ip" value="224.1.1.2"/>
    <param name="use_gps_ts" value="$(arg use_gps_ts)"/>
    <param name="min_range" value="0.15"/>
    <param name="max_range" value="200.0"/>
    <param name="frame_id" value="laser_link_c16"/>
    <param name="distance_unit" value="0.4"/>
    <param name="angle_disable_min" value="0"/>
    <param name="angle_disable_max" value="0"/>
    <param name="horizontal_angle_resolution" value="0.18"/>  <!--10Hz:0.18  20Hz:0.36 5Hz: 0.09  -->
    <param name="scan_num" value="10"/>
    <param name="read_once" value="false"/>
    <param name="publish_scan" value="false"/>
    <param name="pointcloud_topic" value="lslidar_point_cloud"/>
    <param name="coordinate_opt" value="false"/>
  </node>

    <node pkg="lslidar_driver" type="lslidar_driver_node" name="lslidar_driver_node" output="screen" ns="c32">
      <!--param name="pcap" value="$(find lslidar_driver)/pcap/xxx.pcap" /-->
      <param name="packet_rate" value="$(arg packet_rate2)"/>
      <param name="device_ip" value="$(arg device_ip2)" />
      <param name="msop_port" value="$(arg msop_port2)" />
      <param name="difop_port" value="$(arg difop_port2)"/>
      <param name="pcl_type" value="$(arg pcl_type)"/>
      <param name="lidar_type" value="$(arg lidar_type2)"/>
      <param name="c32_type" value="$(arg c32_type)"/>
      <param name="add_multicast" value="false"/>
      <param name="group_ip" value="224.1.1.2"/>
      <param name="use_gps_ts" value="$(arg use_gps_ts)"/>
      <param name="min_range" value="0.15"/>
      <param name="max_range" value="200.0"/>
      <param name="frame_id" value="laser_link_c32"/>
      <param name="distance_unit" value="0.40"/>
      <param name="angle_disable_min" value="0"/>
      <param name="angle_disable_max" value="0"/>
      <param name="horizontal_angle_resolution" value="0.18"/>  <!--10Hz:0.18  20Hz:0.36 5Hz: 0.09  -->
      <param name="scan_num" value="10"/>
      <param name="read_once" value="false"/>
      <param name="publish_scan" value="false"/>
      <param name="pointcloud_topic" value="lslidar_point_cloud"/>
      <param name="coordinate_opt" value="false"/>
    </node>

  <!--node pkg="rviz" type="rviz" name="rviz" args="-d $(find lslidar_driver)/rviz_cfg/lslidar.rviz"/-->
  <!--node pkg="tf" type="static_transform_publisher" name="laser_link_right_to_world" args="0 0 0 0 0 0 world laser_link_c16 100" /-->
  <!--node pkg="tf" type="static_transform_publisher" name="laser_link_left_to_world" args="0 0 1 0 0 0 world laser_link_c32 100" /-->


	
 
</launch>
